<div class="navbar">
    <nav>
        <div class="logo">
            <p>RecoverMate</p>
        </div>
        <div class="nav-left">
            <ul>
                <li><a routerLink="/">Previous Found</a></li>
                <li><a routerLink="/previousLost">Previous Lost</a></li>
                <li><a routerLink="/contact">Add Found</a></li>
                <li><a routerLink="/contact">Request Search</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <form class="search-form">
                <input type="text" placeholder="Search">
                <button type="submit"><i class="fa fa-search">Submit</i></button>
            </form>
            <div class="profile-photo">
                <img src="path/to/profile-photo.jpg" alt="Profile Photo">
            </div>
        </div>
    </nav>

</div>