* {
    border: 0px;
    margin: 0%;
    padding: 0%;
}

body {


    background: linear-gradient(to top right, #6d03ee 0%, #FDD563 100%);
    margin: 0px;
    padding: 0%;
    height: fit-content;
}


.container-2 {

    margin-left: 10%;
    margin-top: 50px;


}

.flex-container-2 {
    margin-left: 10%;
    margin-top: 30px;

}

.lostCard {

    margin-top: 40px;

}