<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <img src="https://t4.ftcdn.net/jpg/03/86/45/77/240_F_386457753_x9NUY0gjvzWkentwFR3iC6iASuCFfL9S.jpg" alt="">
    <br><br><br><br><br>
    <button>
        <a routerLink="/login">Log In</a>
    </button>
    <br><br>
    <button>
        <a routerLink="/signup">Sign Up</a>
    </button><br><br><br><br><br>
    
    
    
</body>
</html>