* {
    border: 0px;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #221244;
    overflow: hidden;
    margin: 0px;
    padding: 0%;
    height: fit-content;
}



h1 {
    color: #fbd2ff;
    font: size 32px;
}



.flex-container {

    flex-direction: row;
    display: flex;
    margin-top: 30px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10%;


}



.container-2 {

    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;

}

.container-2>app-switch {
    margin-left: 60%;
}

.flex-container-2 {
    margin-left: 10%;
    margin-top: 30px;

}