* {
    border: 0px;
    margin: 0%;
    padding: 0%;
}

body {


    background: linear-gradient(to top right, #6d03ee 0%, #FDD563 100%);

    margin: 0px;
    padding: 0%;
    height: 900px;
}




.flex-container {

    flex-direction: row;
    display: flex;
    margin-top: 30px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5%;

}


.container-2 {

    margin-left: 10%;
    margin-top: 50px;


}

.flex-container-2 {
    margin-left: 10%;
    margin-top: 30px;

}