<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <app-navbar></app-navbar>
    </div>

    <div class="container-2">
        <h1 @fade>Lost and Found Items</h1>
    </div>
    <div class="flex-container-2">
        <app-search-tab></app-search-tab>
    </div>
    <div class="flex-container">
        <app-card></app-card>
    </div>

</body>

</html>