mat-card {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);





}

mat-card:hover {
    transform: scale(1.05);
}

mat-card-title {
    font-size: 1.5vw;
    font-weight: 100;
    color: #fff;
}

mat-card-content {
    font-size: 1vw;
    line-height: 1.5;
    color: #fff;
}

img {
    margin-top: 4px;
    margin-left: 3px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;

}