:host ::ng-deep.mat-dialog-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 5px;
    width: fit-content;
    height: fit-content;



}

.my-dialog>mat-card {
    margin: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);

}