.mat-dialog-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: #221244;




}

mat-card {
    margin: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);

}

mat-card-content {
    font-size: 1vw;
    line-height: 1.5;
    color: #fff;
}

img {
    opacity: 0.9;
    position: relative;
    margin: 25px 5px;
    border-radius: 10px;

    align-self: center;

}